@{ Layout = null; /* Overrides the Layout set for regular page views. */ }


To: @ViewBag.To
From: ssetechnicalorderingsystem@gmail.com
Subject: Project Registered 

<p>Hello</p>

<p> Please register to view project details and to approve/reject orders if you already haven't done so. </p>

Regards

SSE