@model TechnicalSupportSystemV2.Models.ForgotUserNameModel

@{
    ViewBag.Title = "ForgotUserNameEmail";
}

<h2>Forgot UserName Email Sent</h2>

Dear User,

Your username has been sent to @Model.EmailAddress

Thanks

SSE

