@{
    ViewBag.Title = "PasswordResetFailure";
}

<h2>PasswordResetFailure</h2>

<p>There was a problem resetting your password. Please ensure that the username you entered is correct and try again.</p>
