<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ssetechnicalorderingsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-005.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SSETechnicalOrderingSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SSETechnicalOrderingSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SystemDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sw9be0clf4.database.windows.net,1433;Initial Catalog=SSETechnicalOrderingSystem621;User ID=jp014453@sw9be0clf4;Password=Natasha1991" Name="Data Source=tcp:sw9be0clf4.database.windows.net,1433;Initial Catalog=SSETechnicalOrderingSystem621;User Id=jp014453@sw9be0clf4;Password=Natasha1991" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TechnicalSupportSystemV2.DAL.SystemDBContext, TechnicalSupportSystemV2" MigrationConfiguration="TechnicalSupportSystemV2.Migrations.Configuration, TechnicalSupportSystemV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SystemDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sw9be0clf4.database.windows.net,1433;Initial Catalog=SSETechnicalOrderingSystem621;User Id=jp014453@sw9be0clf4;Password=Natasha1991</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>