@{
    ViewBag.Title = "OrderNotPlaced";
}

<h2>Sorry the order is not placed do you want to try again?</h2>
<p>
    @Html.ActionLink("PlaceOrder", "PlaceOrder") |
    @Html.ActionLink("Back to Home", "Index")
</p>
